<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Login</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/signin.css">
</head>

<body>
  <div class="clickbait">
    <div class="cb">
      <h1 style="display:inline;">CLICK BAIT</h1>
      <p>Get what your eyes want</p>
    </div>
  </div>
  <div class="loginSignup">
    <div id="login">
      <h2>Login</h2>
      <% if(code==0){ %>
      <h3>Invalid username or password! Please try again.</h3>
      <% } %>
      <form action="/login" method="post">
        <input type="email" name="em" placeholder="Email"><br>
        <input type="password" name="pwd" placeholder="Password"><br>
        <button class="btn" type="submit" name="button">Login</button>
      </form>
      <p>New user? <a href="/signup"><b>sign up</b></a></p>
    </div>
  </div>

  </script>

</body>

</html>